.btn {
  border: 0;
  outline: 0;
  color: $btn-main-color;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 2px;
  outline: 0;
  font-size: 17px;
  color: rgb(255, 255, 255);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fdde5c),
    color-stop(#f8ab5e),
    color-stop(#f56a62),
    color-stop(#a176c8),
    color-stop(#759beb),
    color-stop(#65beb3),
    to(#70db96)
  );
  border: linear-gradient(
    to right,
    #fdde5c,
    #f8ab5e,
    #f56a62,
    #a176c8,
    #759beb,
    #65beb3,
    #70db96
  );
  border-radius: 30px;
  box-shadow: none;
  cursor: pointer;

  @include mobile {
    font-size: 1rem;
  }

  &_txt,
  &_icon {
    display: block;
    transition: transform 0.5s ease;
  }

  &_txt {
    padding: 1rem 2rem;
  }

  &_icon {
    @include flex(center, center);
    font-size: 2rem;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
  }

  &-animate:hover &_txt {
    transform: translateX(100%);
  }

  &-animate:hover &_icon {
    transform: translateX(0);
  }
}
